html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*min global styling*/
h1{text-align: center;}
ul{
  display: flex;
  flex-direction: row;
}
li{
  list-style: none;
  margin: 0 5px;
}
.form-div{
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 217, 207);
  padding: 10px;
  border-radius: 7px;
}
input{
  font-size: 20px;
  border-radius: 7px;
}
.button{
  background-color: blue;
   padding: 5px 15px;
   color: white;
   border-radius: 7px;
   font-size: 20px;
}

.default{
  max-width: 480px;
  margin: 0 auto;
  display: block;
  background-color: rgb(224, 217, 207);
  padding: 30px;
}
